<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script>
        function reloadPage() {
            location.reload();
        }
        // Reload the page every 60 seconds (60000 milliseconds)
        setInterval(reloadPage, 60000);
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Info-ETSoftware-Screen</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/css/main.css" />
    <link rel="stylesheet" href="style/scss/main.css" />
    <link rel="stylesheet" href="style/scss/main.scss" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

</head>

<body style="overflow-x: hidden;">


    <div class="container">
        <div class="content active
         " id="content1">
            <video style="    position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;" src="video/vid.mp4" muted loop autoplay></video>


            <object style="    position: absolute;
            height: 100%;
            transform: scale(1.06);
            width: 100%;
            background-size: 100% auto;
            top: 0;
            left: 0;" type="image/svg+xml" data="img/logoswel.svg">
          Your browser does not support SVG
        </object></div>




        <div class="content" id="content4">
            <div id="team_cont">
                <h1>Das Team</h1>
                <p>Wir bieten Projekt-Knowhow mit echter Handschlagqualität –<br> mit erfahrenen Mitarbeitern aus der Elektrotechnik und der IT</p>
            </div>
            <section class="swiper mySwiper">

                <div class="swiper-wrapper">

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/udo_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Ing. Udo Jester</span>
                            <span class="card__name">Geschäftsführer</span>
                            <p class="card__text"></p>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/miriam_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Mirjam Jester</span>
                            <span class="card__name">Administration, Buchhaltung, Marketing</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/sereinig_carina.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Sereinig Carina</span>
                            <span class="card__name">Teamassistenz</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/aste_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Benedict Aste</span>
                            <span class="card__name">Projektbearbeiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/lukas_t.png" alt="card image">
                        </div>

                        <div class="card__content">
                            <span class="card__title">Ing. Lukas Postel</span>
                            <span class="card__name">Technischer Leiter / Teamleiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/martin_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title">Martin Lackner</span>
                            <span class="card__name">IT-Techniker / Projektbearbeiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/manuel_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Manuel Steinwender</span>
                            <span class="card__name">Technische Konstruktion/BIM Koordinator</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/wolfgang_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Wolfgang Leditznig</span>
                            <span class="card__name">Projektleiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/michi_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Michael Wallner</span>
                            <span class="card__name">Projektbearbeiter</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/maia_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Marijana Krajišnik</span>
                            <span class="card__name">Projektbearbeiterin</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card__image">
                            <img src="/img/team/hermann_t.png" alt="card image">

                        </div>

                        <div class="card__content">
                            <span class="card__title" style="text-align: center;">Hermann Possegger</span>
                            <span class="card__name">Projektbearbeiter, Grafiker</span>
                            <p class="card__text"></p>

                        </div>
                    </div>
                </div>
            </section>

            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false,
                    },
                    effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",
                    },
                });
                // Listen for full screen events
                document.addEventListener("fullscreenchange", function() {
                    if (document.fullscreenElement) {
                        // We entered full screen mode, update Swiper
                        mySwiper.resize();
                    } else {
                        // We exited full screen mode, update Swiper
                        mySwiper.resize();
                    }
                });
            </script>


        </div>

        <div class="content " id="content5">

            <div style="position: absolute; margin-top: 100px;">

                <div style="font-family:Monserrat;" class="newsmain">
                    <!-- News items will be added here -->
                    <% newsItems.forEach(function(newsItem) { %>
                        <div class="news-item-main-home">
                            <div id="imgcontainer">
                                <% if (newsItem.picture) { %>
                                    <% if (newsItem.picture.endsWith('.mp4')) { %>
                                        <video class="hov" src="<%= newsItem.picture %>" onclick="toggleFullscreen(this)" autoplay controls style="width: 300px; border-radius: 21px;"></video>
                                        <% } else { %>
                                            <img class="hov" src="<%= newsItem.picture %>" onclick="toggleFullscreen(this)" style="width: 300px; object-fit: cover; border-radius: 21px;" alt="News Image">
                                            <% } %>
                                                <% } else { %>
                                                    <img class="hov" src="/img/placeholderimg.png" style="width: 300px; object-fit: cover; border-radius: 21px;" alt="Default Template Image">
                                                    <% } %>
                            </div>
                            <div id="fullscreen-img"></div>
                            <h2 class="h2cont">
                                <%= newsItem.title %>
                            </h2>
                            <hr>
                            <p class="pcont">
                                <%= newsItem.content %>
                            </p>
                            <span style="text-align: left; color: #d54113;"># <%= newsItem.hashtag %></span>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>

        <div class="content " id="content6">
            <iframe src="https://vrm.victronenergy.com/login" height="100%" width="100%" style="position: absolute; top: 0; left: 0;"></iframe>

        </div>
    </div>






    <!-- Initialize Swiper -->
    <script>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/timecicle.js"></script>
    <script>
        // Listen for form submission to add a new news item
        const addForm = document.querySelector('#add-form');
        addForm.addEventListener('submit', async(event) => {
            event.preventDefault();
            const formData = new FormData(addForm);
            const response = await fetch('/api/news', {
                method: 'POST',
                body: formData,
            });
            if (response.ok) {
                const newsItem = await response.json();
                const newsDiv = createNewsDiv(newsItem);
                const newsContainer = document.querySelector('.news');
                newsContainer.appendChild(newsDiv);
                addForm.reset();
            } else {
                console.error(response.statusText);
            }
        });

        // Listen for form submission to delete a news item
        const deleteForms = document.querySelectorAll('.delete-form');
        deleteForms.forEach((form) => {
            form.addEventListener('submit', async(event) => {
                event.preventDefault();
                const formData = new FormData(form);
                const response = await fetch('/api/news/' + formData.get('id'), {
                    method: 'DELETE',
                });
                if (response.ok) {
                    const newsItem = await response.json();
                    const newsDiv = document.querySelector(`[data-id="${newsItem._id}"]`);
                    newsDiv.parentNode.removeChild(newsDiv);
                } else {
                    console.error(response.statusText);
                }
            });
        });

        // Helper function to create a news item div
        function createNewsDiv(newsItem) {
            const newsDiv = document.createElement('div');
            newsDiv.classList.add('news-item');
            newsDiv.dataset.id = newsItem._id;
            newsDiv.innerHTML = `
    <h2>${newsItem.title}</h2>
    <p>${newsItem.content}</p>
    <form class="delete-form">
      <input type="hidden" name="id" value="${newsItem._id}">
      <button type="submit">Delete</button>
    </form>
  `;
            return newsDiv;
        }
    </script>
</body>

</html>